#img-perfil{
    width: 150px;
}

#img-stack{
    width: 200px;
}

.bg-primary{
    background-color: #fba1b7!important;
}

.nav-link{
    color: #653208!important;
}

.text-bg-primary {
    background-color:#e966a0!important;
    color: #000;
    
}

.titulo-proyecto{
    text-shadow: 2px 5px 30px #000000;
}

#proyecto-1{
    background-image: url('rosa\ marml.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-2{
    background-image: url('marmol\ 2.jpg');
}
#proyecto-3{
    background-image: url('rosa\ marml.jpg');
}
#proyecto-4{
    background-image: url('marmol\ 2.jpg');
}
#proyecto-5{
    background-image: url('rosa\ marml.jpg');
}
#proyecto-6{
    background-image: url('marmol\ 2.jpg');
}

.carousel-item{
    height: 400px;
}

.carousel-indicators [data-bs-target] {
    background-color: #fd9843;
    height: 5px;
}

.carousel-caption{
    color:black;
}

.icono{
    width: 50px;
}

.redes{
    margin: 10px;
    padding-top: 1000px;
    padding-inline: 20px;
    padding-right: 50%; 
}

#linkedin{
    margin-right: 10px;
    color: antiquewhite;
}

#instagramlogo{
    margin-left: 10px;
    color: antiquewhite;
}

#contactos{
    color: plum;
}
